/** CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Fira+Mono&family=Jost:wght@400;700&family=Pattaya&family=Poppins:wght@400;700&family=Sen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #355464;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/** Media Queries */
/** Animation Transition */
.header {
  background-color: #355464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 1.5rem;
  font-family: "Sen", sans-serif;
}

.header--theme {
  display: none;
}

.header--socials {
  color: #ffffff;
  font-size: 2rem;
}

.header--socials a {
  margin-left: 1.5rem;
}

.me {
  background-color: #355464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30% 0 8% 0;
}

.me--name {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.me--rule {
  height: 0.25rem;
  width: 60%;
  border-radius: 1px;
  background-color: #c50020;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.me--job-title {
  color: #99d9d9;
  font-family: "Sen", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.me--arrow {
  color: #99d9d9;
  font-size: 2.5rem;
  margin-top: 6rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #68a2b9;
  padding: 0.5rem 0;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #000000;
}

.links--bullet {
  font-size: 0.4rem;
  margin-top: 0.2rem;
}

.links--link {
  font-size: 1rem;
}

.about {
  background-color: #001628;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  padding: 20% 0 20% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about--greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 50px;
}

.about--greeting--hello {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.about--greeting--name {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.about p {
  text-align: center;
  margin: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.about--bio2--beth {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

.card-half {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001628), color-stop(50%, #001628), color-stop(50%, #355464), color-stop(50%, #355464));
  background-image: linear-gradient(#001628 0%, #001628 50%, #355464 50%, #355464 50%);
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  background-color: #68a2b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 90%;
  border-radius: 6px;
  color: #ffffff;
}

.cards--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
}

.cards--card--headline {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.cards--card--desc {
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  word-spacing: 3px;
  text-align: center;
}

.cards--card span {
  font-size: 5rem;
}

.skills {
  background-color: #355464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20% 0;
}

.skills--headline {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
}

.skills--subheadline {
  color: #99d9d9;
  text-align: center;
  font-family: "Sen", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 1rem 0 1.5rem 0;
}

.skills--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills--list--skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 1rem;
}

.skills--list--skill--logo {
  font-size: 4rem;
}

.skills--list--skill--name {
  font-family: "Sen", sans-serif;
  text-align: center;
}

.projects {
  background-color: #001628;
  color: #ffffff;
  padding: 20% 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects--headline {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 2px;
}

.projects--project {
  background: #355464;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 1rem;
}

.projects--project--image {
  width: 100%;
  border-radius: 3px;
}

.projects--project--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Sen", sans-serif;
}

.projects--project--text--name {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.projects--project--text--desc {
  line-height: 1.5;
}

.projects--project--text a {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

.border {
  border: 1px solid #000000;
}

.feedback {
  background-color: #355464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20% 10%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact--headline {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 3px;
}

.contact--rule {
  height: 0.25rem;
  width: 50%;
  border-radius: 2;
  background-color: #c50020;
  margin: 0.5rem 0;
}

.contact--subheadline {
  font-family: "Sen", sans-serif;
  color: #99d9d9;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

.contact--form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact--form--input {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 1.2rem;
  height: 2rem;
  margin-bottom: 2px;
  padding: 0 0.5rem;
}

.contact--form--submit {
  border: 3px solid #000000;
  border-radius: 3px;
  background-color: #99d9d9;
  font-family: "Sen", sans-serif;
  padding: 2.5px 5px;
  margin-top: 0.25rem;
}

#message {
  height: 8rem;
  resize: none;
}

.footer {
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 150px;
}

.footer--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
}

.footer--copyright {
  font-family: "Sen", sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

/** CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #355464;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/** Media Queries */
/** Animation Transition */
@media screen and (min-width: 414px) {
  .me {
    padding: 40% 0 10% 0;
  }
  .me--name {
    font-size: 2.8rem;
  }
  .me--job-title {
    font-size: 1.4rem;
  }
  .me--arrow {
    font-size: 2.7rem;
    margin-top: 8rem;
  }
  .links--link {
    font-size: 1.2rem;
  }
  .links--bullet {
    font-size: 0.4rem;
  }
  .about--greeting {
    height: 55px;
  }
  .about--greeting--hello {
    font-size: 1.7rem;
  }
  .about--greeting--name {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 2rem 3rem;
  }
  .header--socials {
    font-size: 3rem;
  }
  .me {
    padding: 25% 0 10% 0;
  }
  .me--name {
    font-size: 5rem;
  }
  .me--job-title {
    font-size: 2.5rem;
  }
  .me--arrow {
    font-size: 3rem;
  }
  .links--link {
    font-size: 2rem;
  }
  .links--bullet {
    font-size: 0.7rem;
  }
  .about {
    padding: 20% 10%;
  }
  .about--greeting {
    height: 55px;
    width: 90%;
    margin-bottom: 1rem;
  }
  .about--greeting--hello {
    font-size: 3rem;
  }
  .about--greeting--name {
    font-size: 3rem;
  }
  .about p {
    font-size: 1.7rem;
  }
  .cards {
    width: 75%;
  }
  .cards--card span {
    font-size: 8rem;
  }
  .cards--card--headline {
    font-size: 3rem;
  }
  .cards--card--desc {
    font-size: 1.8rem;
  }
  .skills--headline {
    font-size: 4.5rem;
  }
  .skills--subheadline {
    font-size: 3.5rem;
  }
  .skills--list--skill--logo {
    font-size: 8rem;
  }
  .skills--list--skill--name {
    font-size: 2rem;
  }
  .projects--headline {
    font-size: 4rem;
  }
  .projects--project {
    width: 90%;
  }
  .projects--project--text--name {
    font-size: 3rem;
  }
  .projects--project--text--desc {
    font-size: 1.5rem;
  }
  .projects--project--text a {
    font-size: 2.2rem;
  }
  .contact--headline {
    font-size: 4rem;
  }
  .contact--subheadline {
    font-size: 2.2rem;
  }
  .contact--form--input {
    font-size: 1.8rem;
    height: 3rem;
    margin-bottom: 4px;
  }
  .contact--form--submit {
    padding: 5px 10px;
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }
  #message {
    height: 12rem;
  }
  .footer {
    height: 200px;
  }
  .footer--socials {
    font-size: 3rem;
  }
  .footer--copyright {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .header--socials {
    font-size: 2.5rem;
  }
  .me {
    padding: 10% 0;
  }
  .me--name {
    font-size: 4rem;
  }
  .me--rule {
    width: 40%;
  }
  .me--job-title {
    font-size: 2rem;
  }
  .links {
    padding: 2.5% 5%;
  }
  .about {
    padding: 20% 15% 10% 15%;
  }
  .about--greeting {
    width: 95%;
    margin-bottom: 1.5rem;
  }
  .about--greeting--hello {
    font-size: 4rem;
  }
  .about--greeting--name {
    font-size: 3.6rem;
  }
  .about p {
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: 1px;
  }
  .card-half {
    height: 80%;
  }
  .cards {
    width: 95%;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards--card {
    background-color: #68a2b9;
    border-radius: 6px;
    width: 30%;
  }
  .cards--card span {
    font-size: 6rem;
  }
  .cards--card--headline {
    font-size: 2rem;
  }
  .cards--card--desc {
    font-size: 1.2rem;
  }
  .skills {
    padding: 10% 0;
  }
  .skills--headline {
    font-size: 3.5rem;
  }
  .skills--subheadline {
    font-size: 2.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 8%;
  }
  .skills--list--skill {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin-bottom: 1.5rem;
  }
  .skills--list--skill--logo {
    font-size: 6rem;
  }
  .skills--list--skill--name {
    font-size: 1rem;
  }
  .projects {
    padding: 10% 0;
    overflow: hidden;
  }
  .projects--headline {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .projects--project {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects--project--image {
    width: 80%;
  }
  .projects--project--text {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects--project--text--name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .projects--project--text--desc {
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  .projects--project--text a {
    font-size: 1.2rem;
  }
  .standard--img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: -25%;
  }
  .standard--name {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .standard--text {
    margin-right: 4rem;
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .standard--text--desc {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .standard--link {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .reverse--img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: -25%;
  }
  .reverse--name {
    text-align: center;
  }
  .reverse--text {
    margin-left: 4rem;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .reverse--text--desc {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reverse--link {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .border {
    border: none;
  }
  .feedback {
    padding: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    width: 80%;
  }
  .contact--headline {
    font-size: 3rem;
  }
  .contact--subheadline {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .contact--form {
    width: 80%;
  }
  .contact--form--input {
    font-size: 1rem;
    height: 1.8rem;
  }
  .contact--form--submit {
    font-size: 1.2rem;
  }
  #message {
    height: 10rem;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125px;
    padding: 0 2rem;
  }
  .footer--socials {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 2rem;
  }
  .footer--copyright {
    font-size: 0.8rem;
  }
  .thanks {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thanks--text {
    width: 50%;
  }
  .thanks--link {
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
  }
}

@media screen and (min-width: 1280px) {
  .me {
    padding: 2.5% 0;
  }
  .me--name {
    font-size: 5rem;
  }
  .me--job-title {
    font-size: 2.5rem;
  }
  .links {
    padding: 1% 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links--link {
    font-size: 1.5rem;
  }
  .links--bullet {
    margin: 0.2rem 0.5rem 0 0.5rem;
    font-size: 0.6rem;
  }
  .about {
    padding: 10% 15%;
  }
  .about--greeting {
    width: 65%;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .about--greeting--hello {
    font-size: 3rem;
  }
  .about--greeting--name {
    font-size: 3rem;
  }
  .about p {
    font-size: 1.25rem;
  }
  .card-half {
    margin-top: -1px;
  }
  .cards {
    width: 80%;
  }
  .cards--card {
    padding: 2rem;
    -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  }
  .cards--card span {
    font-size: 4rem;
  }
  .cards--card--headline {
    font-size: 1.5rem;
  }
  .cards--card--desc {
    font-size: 1rem;
  }
  .skills {
    padding: 5% 15%;
  }
  .skills--headline {
    font-size: 3rem;
  }
  .skills--subheadline {
    font-size: 2rem;
  }
  .skills--list {
    width: 70%;
  }
  .skills--list--skill {
    margin-bottom: 2rem;
  }
  .skills--list--skill--logo {
    font-size: 4rem;
  }
  .skills--list--skill--name {
    font-size: 1rem;
  }
  .projects {
    padding: 5% 0;
  }
  .projects--headline {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .projects--project--text--name {
    font-size: 2rem;
  }
  .projects--project--text--image {
    width: 400px;
  }
  .projects--project--text--desc {
    font-size: 1rem;
  }
  .projects--project--text a {
    font-size: 1.3rem;
  }
  .feedback {
    padding: 5% 10%;
  }
  .contact {
    width: 90%;
  }
  .contact--headline {
    font-size: 3rem;
  }
  .contact--subheadline {
    font-size: 1.5rem;
  }
  .contact--form--input {
    font-size: 1.2rem;
    height: 2rem;
    margin-bottom: 0.4rem;
    -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  }
  .contact--form--submit {
    font-size: 1.2rem;
    -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  }
  .footer {
    height: 100px;
  }
  .footer--socials {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    font-size: 2rem;
  }
  .footer--copyright {
    font-size: 0.8rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1536px) {
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .links--bullet {
    margin: 0 20px;
  }
  .about--greeting {
    width: 575px;
    -webkit-transform: translateX(-210px);
            transform: translateX(-210px);
  }
  .about p {
    width: 1000px;
  }
  .cards {
    width: 1200px;
  }
  .contact--form {
    width: 750px;
  }
}
