<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Coming Soon!</title>
    </head>
    <body>
        <main>
            <section id="construction-container">
                <div class="construction">
                    <h1 class="construction__headline">
                        Hello, I'm Jacob Andes!
                    </h1>
                    <h2 class="construction__sub-headline">
                        Thanks for your interest, my portfolio will be ready
                        soon!
                    </h2>
                    <img
                        src="/static/images/laptop.png"
                        alt="Man smiling behind laptop"
                        id="laptop"
                        width="30%"
                        class="construction__image"
                    />
                </div>
            </section>
            <section id="contact" class="contact">
                <h2 class="contact__headline">
                    In the meantime, you can find more about me here:
                </h2>
                <div class="contact__icons">
                    <a
                        href="https://twitter.com/booshja"
                        rel="nofollow"
                        target="_blank"
                        class="contact__icons__icon"
                        ><i class="fa fa-3x fa-twitter" aria-hidden="true"></i
                    ></a>
                    <a
                        href="https://www.linkedin.com/in/jacobandes/"
                        rel="nofollow"
                        target="_blank"
                        class="contact__icons__icon"
                        ><i
                            class="fa fa-3x fa-linkedin"
                            id="linkedin"
                            aria-hidden="true"
                        ></i
                    ></a>
                    <a
                        href="https://github.com/booshja"
                        rel="nofollow"
                        target="_blank"
                        class="contact__icons__icon"
                        ><i class="fa fa-3x fa-github" aria-hidden="true"></i
                    ></a>
                </div>
                <div class="contact__email">
                    <p class="contact__email__text">
                        Or drop me an
                        <a
                            id="contact-link"
                            href="mailto:jacob.andes@gmail.com"
                            target="_blank"
                            rel="nofollow"
                            class="contact__email__text__link"
                            >email</a
                        >
                    </p>
                </div>
            </section>
        </main>
    </body>
</html>
