<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fab fa-js-square"></i
    ></span>
    <p class="skills--list--skill--name">JavaScript</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-react"></i></span>
    <p class="skills--list--skill--name">React</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fas fa-file-code"></i
    ></span>
    <p class="skills--list--skill--name">Styled Components</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-node"></i></span>
    <p class="skills--list--skill--name">Node.js</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fas fa-server"></i></span>
    <p class="skills--list--skill--name">Express</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-python"></i></span>
    <p class="skills--list--skill--name">Python</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fas fa-pepper-hot"></i
    ></span>
    <p class="skills--list--skill--name">Flask</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fas fa-database"></i
    ></span>
    <p class="skills--list--skill--name">PostgreSQL</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fab fa-git-alt"></i
    ></span>
    <p class="skills--list--skill--name">Git</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-github"></i></span>
    <p class="skills--list--skill--name">GitHub</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-html5"></i></span>
    <p class="skills--list--skill--name">HTML</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"
        ><i class="fab fa-css3-alt"></i
    ></span>
    <p class="skills--list--skill--name">CSS</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-jira"></i></span>
    <p class="skills--list--skill--name">Jira</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-figma"></i></span>
    <p class="skills--list--skill--name">Figma</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-sass"></i></span>
    <p class="skills--list--skill--name">SASS</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fas fa-wrench"></i></span>
    <p class="skills--list--skill--name">jQuery</p>
</div>
