<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/main/meta.html' %}
        <title>Jacob Andes - Full Stack Developer</title>
        <script
            src="https://kit.fontawesome.com/396432886d.js"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="canonical" href="https://jacobandes.dev" />
        <link
            rel="shortcut icon"
            href="../../static/images/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="icon"
            href="../../static/images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../static/styles/css/main.css" />
    </head>
    <body>
        <header class="header">
            <div class="header--theme">
                <span class="header--theme--icon"
                    ><i class="fas fa-cube"></i
                ></span>
                <p class="header--theme--text">Light</p>
            </div>
            <div class="header--socials">
                <a
                    href="https://github.com/booshja"
                    target="_blank"
                    class="header--socials--link"
                    ><i class="fab fa-github"></i
                ></a>
                <a
                    href="https://twitter.com/booshja"
                    target="_blank"
                    class="header--socials--link"
                    ><i class="fab fa-twitter"></i
                ></a>
                <a
                    href="https://linkedin.com/in/jacobandes"
                    target="_blank"
                    class="header--socials--link"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
        </header>
        <main>
            <section id="me" class="me">
                <h1 class="me--name">Jacob Andes</h1>
                <span class="me--rule"></span>
                <p class="me--job-title">Full Stack Developer</p>
                <a class="me--arrow" href="#about"
                    ><i class="fas fa-chevron-down"></i
                ></a>
            </section>
            <nav id="links" class="links">
                <a href="#about" class="links--link">About</a>
                <span class="links--bullet"><i class="fas fa-circle"></i></span>
                <a href="#skills" class="links--link">Skills</a>
                <span class="links--bullet"><i class="fas fa-circle"></i></span>
                <a href="#projects" class="links--link">Projects</a>
                <span class="links--bullet"><i class="fas fa-circle"></i></span>
                <a href="#contact" class="links--link">Hire Me!</a>
            </nav>
            <section class="about">
                <h3 class="about--greeting">
                    <span class="about--greeting--hello" id="about">Hello!</span
                    ><span class="about--greeting--name">I'm Jacob</span>
                </h3>
                <p class="about--bio1">
                    I'm a Full Stack Developer from Seattle, WA. I love finding
                    creative solutions to complex problems and creating
                    beautiful, reliable, responsive web applications.
                </p>
                <p class="about--bio2">
                    When I'm not coding, you can find me spending time with my
                    girlfriend and dogs, watching hockey, or clumsily learning
                    how to skate and play hockey.
                </p>
            </section>
            <section class="card-half">
                <div id="cards" class="cards">
                    <div class="cards--card">
                        <span class="cards--card--bulb"
                            ><i class="far fa-save"></i
                        ></span>
                        <h4 class="cards--card--headline">Current</h4>
                        <p class="cards--card--desc">
                            I work with current tech, and enjoy learning more
                            about rising frameworks and technologies.
                        </p>
                    </div>
                    <div class="cards--card">
                        <span class="cards--card--phone"
                            ><i class="fas fa-mobile-alt"></i
                        ></span>
                        <h4 class="cards--card--headline">Responsive</h4>
                        <p class="cards--card--desc">
                            I create applications that seamlessly transition
                            between all devices and screen sizes.
                        </p>
                    </div>
                    <div class="cards--card">
                        <span class="cards--card--code"
                            ><i class="fas fa-code"></i
                        ></span>
                        <h4 class="cards--card--headline">Concise</h4>
                        <p class="cards--card--desc">
                            In both code and communication - clarity, purpose,
                            and focus are key.
                        </p>
                    </div>
                </div>
            </section>
            <section class="skills">
                <h2 id="skills" class="skills--headline">Skill Set</h2>
                <h3 class="skills--subheadline">Currently Using</h3>
                <div class="skills--list">
                    {% include '/main/current-skill-icons.html' %}
                </div>
                <h3 class="skills--subheadline">Currently Learning</h3>
                <div class="skills--list">
                    {% include '/main/learning-skill-icons.html' %}
                </div>
            </section>
            <section class="projects">
                <h2 id="projects" class="projects--headline">Projects</h2>
                <article class="projects--project">
                    <img
                        src="../../static/images/setplaylist.png"
                        alt="SetPlaylist Webpage Screenshot"
                        class="projects--project--image"
                    />
                    <div class="projects--project--text">
                        <h3 class="projects--project--text--name">
                            SetPlaylist
                        </h3>
                        <p class="projects--project--text--desc">
                            Save your favorite concerts as a playlist to your
                            Spotify account.
                            <br /><br />
                            Built as my first Capstone in Springboard’s Software
                            Engineering Program.
                        </p>
                        <a href="https://github.com/booshja/SetPlaylist"
                            >See on GitHub</a
                        >
                    </div>
                </article>
            </section>
            <section id="contact" class="feedback">
                <div class="contact">
                    <h2 class="contact--headline">Contact Me</h2>
                    <span class="contact--rule"></span>
                    <p class="contact--subheadline">
                        Have a question or want to work together?
                    </p>
                    <form
                        action="/contact"
                        method="post"
                        class="contact--form"
                        id="contact-form"
                    >
                        {{form.hidden_tag()}}
                        {{form.name(class_="contact--form--input",
                        placeholder="Name")}}
                        {{form.email(class_="contact--form--input",
                        placeholder="Email - Optional")}}
                        {{form.message(class_="contact--form--input",
                        placeholder="Message")}}
                        <button
                            type="submit"
                            class="contact--form--submit"
                            id="contact-form-btn"
                        >
                            Submit
                        </button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer--socials">
                <a
                    href="https://github.com/booshja"
                    target="_blank"
                    class="footer--socials--link"
                    ><i class="fab fa-github"></i
                ></a>
                <a
                    href="https://twitter.com/booshja"
                    target="_blank"
                    class="footer--socials--link"
                    ><i class="fab fa-twitter"></i
                ></a>
                <a
                    href="https://linkedin.com/in/jacobandes"
                    target="_blank"
                    class="footer--socials--link"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
            <p class="footer--copyright">
                &#169; 2021 - Designed and Developed by
                <a
                    href="mailto:jacob.andes@gmail.com"
                    class="footer--copyright--link"
                    >Jacob Andes</a
                >
            </p>
        </footer>
    </body>
</html>
