<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-node"></i></span>
    <p class="skills--list--skill--name">Node.js</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fas fa-server"></i></span>
    <p class="skills--list--skill--name">Express</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fab fa-react"></i></span>
    <p class="skills--list--skill--name">React</p>
</div>
<div class="skills--list--skill">
    <span class="skills--list--skill--logo"><i class="fas fa-atom"></i></span>
    <p class="skills--list--skill--name">Redux</p>
</div>
