<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
    name="description"
    content="Personal portfolio for Jacob Andes, Full Stack Developer from Seattle"
/>
<meta
    name="keywords"
    content="software, engineer, developer, web, programmer, full, stack, personal, portfolio, software engineer, software developer, web engineer, web developer, full stack, full stack developer, full stack engineer"
/>
<meta name="Author" content="Jacob Andes" />
<meta property="og:title" content="Jacob Andes - Full Stack Developer" />
<meta property="og:url" content="https://www.jacobandes.dev" />
<meta
    property="og:image"
    content="https://www.jacobandes.dev/ogimg/ogimg.png"
/>
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content="Jacob Andes, Full Stack Developer" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="https://www.jacobandes.dev" />
<meta
    property="og:description"
    content="Personal portfolio for Jacob Andes, Full Stack Developer from Seattle"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@booshja" />
<meta name="twitter:site" content="@booshja" />
