<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" href="../../static/styles/css/thanks.css" />
        <title>Thanks!</title>
    </head>
    <body>
        <main class="thanks">
            <h1 class="thanks--headline">Thanks!</h1>
            <p class="thanks--text">
                Your comment has been received and I'll be in contact shortly!
            </p>
            <a href="/" class="thanks--link">Return to mainpage</a>
        </main>
    </body>
</html>
