<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" href="../../css/admin.css" />
        <title>Welcome Back!</title>
    </head>
    <body>
        <header id="admin-tools" class="admin-header">
            <form action="/admin/logout" method="post">
                <button type="submit" class="admin-header__logout">
                    Logout
                </button>
            </form>
        </header>
        <main>
            <h1 class="admin-title">Hello!</h1>
            <section id="feedback" class="feedback">
                <h2 class="feedback__headline">Your Feedbacks:</h2>
                {% if feedback %}
                <table class="feedback__table">
                    <thead>
                        <tr class="feedback__table__head">
                            <th class="feedback__table__head__item">Name</th>
                            <th class="feedback__table__head__item">Email</th>
                            <th class="feedback__table__head__item">Message</th>
                        </tr>
                    </thead>
                    <tbody class="feedback_table__body">
                        {% for feed in feedback %}
                        <tr class="feedback_table__body__row">
                            <td class="feedback_table__body__item">
                                {{feed.name}}
                            </td>
                            <td class="feedback_table__body__item">
                                <a href="mailto:{{feed.email}}" target="_blank"
                                    >{{feed.email}}</a
                                >
                            </td>
                            <td class="feedback_table__body__item">
                                {{feed.message}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    Nothing yet...
                    <a href="https://www.linkedin.com" target="_blank"
                        >GO HUSTLE</a
                    >
                </p>
                {% endif %}
            </section>
        </main>
    </body>
</html>
