<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <link
            rel="shortcut icon"
            href="../../static/images/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="icon"
            href="../../static/images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../static/css/admin.css" />
    </head>
    <body>
        <main>
            <section id="login" class="login">
                <h1 class="login--headline">Admin Login</h1>
                {% if form.errors.items() %}
                <ul>
                    {% for field, errors in form.errors.items() %} {% for error
                    in errors %}
                    <li class="login--error">{{error}}</li>
                    {% endfor %} {% endfor %}
                </ul>
                {% endif %}
                <form method="post" action="/admin/login" class="login--form">
                    {{form.hidden_tag()}} {% for field in form if
                    field.widget.input_type != 'hidden' %}
                    {{field(class_="login--form--input",
                    placeholder=field.label.text)}} {% endfor %}
                    <div class="login--form--buttons">
                        <a href="/" class="login--form--buttons--cancel"
                            >Cancel</a
                        >
                        <button
                            type="submit"
                            class="login--form--buttons--submit"
                        >
                            Login
                        </button>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>
