        primary-bg: $primary-bg__dark,
        secondary-bg: $secondary-bg__dark,
        tertiary-bg: $tertiary-bg__dark,
        accent: $accent__dark,
        secondary-text: $secondary-text__dark,
        form-bg: $form-bg__dark,
        form-button: $form-button__dark,
        to-top-bg: $to-top-bg__dark,
        to-top-arrow: $to-top-arrow__dark,
