@import "colors";

$themes: (
    dark: (
        primary-bg: $primary-bg--dark,
        secondary-bg: $secondary-bg--dark,
        tertiary-bg: $tertiary-bg--dark,
        accent: $accent--dark,
        secondary-text: $secondary-text--dark,
        form-bg: $form-bg--dark,
        form-button: $form-button--dark,
        to-top-bg: $to-top-bg--dark,
        to-top-arrow: $to-top-arrow--dark,
    ),
    light: (
        primary-bg: $primary-bg--light,
        secondary-bg: $secondary-bg--light,
        tertiary-bg: $tertiary-bg--light,
        accent: $accent--light,
        secondary-text: $secondary-text--light,
        form-bg: $form-bg--light,
        form-button: $form-button--light,
        // to-top-bg: $to-top-bg--light,
        // to-top-arrow: $to-top-arrow--light,,
    ),
    soft: (
        primary-bg: $primary-bg--soft,
        secondary-bg: $secondary-bg--soft,
        tertiary-bg: $tertiary-bg--soft,
        accent: $accent--soft,
        secondary-text: $secondary-text--soft,
        form-bg: $form-bg--soft,
        form-button: $form-button--soft,
        // to-top-bg: $to-top-bg--soft,
        // to-top-arrow: $to-top-arrow--soft,,,
    ),
    sharp: (
        primary-bg: $primary-bg--sharp,
        secondary-bg: $secondary-bg--sharp,
        tertiary-bg: $tertiary-bg--sharp,
        accent: $accent--sharp,
        secondary-text: $secondary-text--sharp,
        form-bg: $form-bg--sharp,
        form-button: $form-button--sharp,
        // to-top-bg: $to-top-bg--sharp,
        // to-top-arrow: $to-top-arrow--sharp,,,
    ),
);
