@import "colors";
/** CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: $primary-bg--dark;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

@mixin mobile-sm {
    @media screen and (min-width: 414px) {
        @content;
    }
}

/** Media Queries */
@mixin mobile-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mobile-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin desktop-md {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin desktop-lg {
    @media screen and (min-width: 1536px) {
        @content;
    }
}

/** Animation Transition */
// @mixin transition-ease {
//     transition: all 500ms ease-in-out;
// }
