@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Fira+Mono&family=Jost:wght@400;700&family=Pattaya&family=Poppins:wght@400;700&family=Sen:wght@400;700&display=swap");

$primary-font--dark: "Poppins", sans-serif;
$primary-font--light: "Poppins", sans-serif;
$primary-font--soft: "Pattaya", sans-serif;
$primary-font--sharp: "Jost", sans-serif;

$secondary-font--dark: "Sen", sans-serif;
$secondary-font--light: "Sen", sans-serif;
$secondary-font--soft: "Amaranth", sans-serif;
$secondary-font--sharp: "Fira Mono", sans-serif;
