@import "config";

@include mobile-sm {
    .me {
        padding: 40% 0 10% 0;

        &--name {
            font-size: 2.8rem;
        }

        &--job-title {
            font-size: 1.4rem;
        }

        &--arrow {
            font-size: 2.7rem;
            margin-top: 8rem;
        }
    }

    .links {
        &--link {
            font-size: 1.2rem;
        }

        &--bullet {
            font-size: 0.4rem;
        }
    }

    .about--greeting {
        height: 55px;

        &--hello {
            font-size: 1.7rem;
        }
        &--name {
            font-size: 1.7rem;
        }
    }
}

@include mobile-md {
    .header {
        padding: 2rem 3rem;

        &--socials {
            font-size: 3rem;
        }
    }

    .me {
        padding: 25% 0 10% 0;

        &--name {
            font-size: 5rem;
        }

        &--job-title {
            font-size: 2.5rem;
        }

        &--arrow {
            font-size: 3rem;
        }
    }

    .links {
        &--link {
            font-size: 2rem;
        }

        &--bullet {
            font-size: 0.7rem;
        }
    }

    .about {
        padding: 20% 10%;

        &--greeting {
            height: 55px;
            width: 90%;
            margin-bottom: 1rem;

            &--hello {
                font-size: 3rem;
            }

            &--name {
                font-size: 3rem;
            }
        }

        p {
            font-size: 1.7rem;
        }
    }

    .cards {
        width: 75%;

        &--card {
            span {
                font-size: 8rem;
            }

            &--headline {
                font-size: 3rem;
            }

            &--desc {
                font-size: 1.8rem;
            }
        }
    }

    .skills {
        &--headline {
            font-size: 4.5rem;
        }

        &--subheadline {
            font-size: 3.5rem;
        }

        &--list--skill {
            &--logo {
                font-size: 8rem;
            }

            &--name {
                font-size: 2rem;
            }
        }
    }

    .projects {
        &--headline {
            font-size: 4rem;
        }

        &--project {
            width: 90%;

            &--text {
                &--name {
                    font-size: 3rem;
                }

                &--desc {
                    font-size: 1.5rem;
                }

                a {
                    font-size: 2.2rem;
                }
            }
        }
    }

    .contact {
        &--headline {
            font-size: 4rem;
        }

        &--subheadline {
            font-size: 2.2rem;
        }

        &--form {
            &--input {
                font-size: 1.8rem;
                height: 3rem;
                margin-bottom: 4px;
            }

            &--submit {
                padding: 5px 10px;
                margin-top: 0.5rem;
                font-size: 1.8rem;
            }
        }
    }

    #message {
        height: 12rem;
    }

    .footer {
        height: 200px;

        &--socials {
            font-size: 3rem;
        }

        &--copyright {
            font-size: 1rem;
        }
    }
}

@include mobile-lg {
    .header--socials {
        font-size: 2.5rem;
    }

    .me {
        padding: 10% 0;

        &--name {
            font-size: 4rem;
        }

        &--rule {
            width: 40%;
        }

        &--job-title {
            font-size: 2rem;
        }
    }

    .links {
        padding: 2.5% 5%;
    }

    .about {
        padding: 20% 15% 10% 15%;

        &--greeting {
            width: 95%;
            margin-bottom: 1.5rem;

            &--hello {
                font-size: 4rem;
            }

            &--name {
                font-size: 3.6rem;
            }
        }

        p {
            font-size: 1.3rem;
            line-height: 2;
            letter-spacing: 1px;
        }
    }

    .card-half {
        height: 80%;
    }

    .cards {
        width: 95%;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;

        &--card {
            background-color: $tertiary-bg--dark;
            border-radius: 6px;
            width: 30%;

            span {
                font-size: 6rem;
            }

            &--headline {
                font-size: 2rem;
            }

            &--desc {
                font-size: 1.2rem;
            }
        }
    }

    .skills {
        padding: 10% 0;

        &--headline {
            font-size: 3.5rem;
        }

        &--subheadline {
            font-size: 2.5rem;
            align-self: flex-start;
            margin-left: 8%;
        }

        &--list--skill {
            flex-basis: 25%;
            margin-bottom: 1.5rem;

            &--logo {
                font-size: 6rem;
            }

            &--name {
                font-size: 1rem;
            }
        }
    }

    .projects {
        padding: 10% 0;
        overflow: hidden;

        &--headline {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        &--project {
            background: transparent;
            display: flex;

            &--image {
                width: 80%;
            }

            &--text {
                align-self: center;
                display: flex;
                flex-direction: column;

                &--name {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                &--desc {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    letter-spacing: 1px;
                }

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .standard {
        &--img {
            order: 2;
            margin-right: -25%;
        }

        &--name {
            align-self: flex-end;
        }

        &--text {
            margin-right: 4rem;
            text-align: right;
            order: 1;

            &--desc {
                align-items: flex-end;
            }
        }

        &--link {
            align-self: flex-end;
        }
    }

    .reverse {
        &--img {
            order: 1;
            margin-left: -25%;
        }

        &--name {
            text-align: center;
        }

        &--text {
            margin-left: 4rem;
            text-align: left;
            align-items: flex-start;
            order: 2;

            &--desc {
                align-items: flex-start;
            }
        }

        &--link {
            align-self: flex-start;
        }
    }

    .border {
        border: none;
    }

    .feedback {
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        width: 80%;

        &--headline {
            font-size: 3rem;
        }

        &--subheadline {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        &--form {
            width: 80%;

            &--input {
                font-size: 1rem;
                height: 1.8rem;
            }

            &--submit {
                font-size: 1.2rem;
            }
        }
    }

    #message {
        height: 10rem;
    }

    .footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 125px;
        padding: 0 2rem;

        &--socials {
            flex-basis: 60%;
            font-size: 2rem;
        }

        &--copyright {
            font-size: 0.8rem;
        }
    }

    .thanks {
        align-items: center;

        &--text {
            width: 50%;
        }

        &--link {
            transform: translateX(-7rem);
        }
    }
}

@include desktop-md {
    .me {
        padding: 2.5% 0;

        &--name {
            font-size: 5rem;
        }

        &--job-title {
            font-size: 2.5rem;
        }
    }

    .links {
        padding: 1% 30%;
        justify-content: space-around;

        &--link {
            font-size: 1.5rem;
        }

        &--bullet {
            margin: 0.2rem 0.5rem 0 0.5rem;
            font-size: 0.6rem;
        }
    }

    .about {
        padding: 10% 15%;

        &--greeting {
            width: 65%;
            transform: translateX(-100px);

            &--hello {
                font-size: 3rem;
            }

            &--name {
                font-size: 3rem;
            }
        }

        p {
            font-size: 1.25rem;
        }
    }

    .card-half {
        margin-top: -1px;
    }

    .cards {
        width: 80%;

        &--card {
            padding: 2rem;
            box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);

            span {
                font-size: 4rem;
            }

            &--headline {
                font-size: 1.5rem;
            }

            &--desc {
                font-size: 1rem;
            }
        }
    }

    .skills {
        padding: 5% 15%;

        &--headline {
            font-size: 3rem;
        }

        &--subheadline {
            font-size: 2rem;
        }

        &--list {
            width: 70%;

            &--skill {
                margin-bottom: 2rem;

                &--logo {
                    font-size: 4rem;
                }

                &--name {
                    font-size: 1rem;
                }
            }
        }
    }

    .projects {
        padding: 5% 0;

        &--headline {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        &--project--text {
            &--name {
                font-size: 2rem;
            }

            &--image {
                width: 60%;
            }

            &--desc {
                font-size: 1rem;
            }

            a {
                font-size: 1.3rem;
            }
        }
    }

    .feedback {
        padding: 5% 10%;
    }

    .contact {
        width: 90%;

        &--headline {
            font-size: 3rem;
        }

        &--subheadline {
            font-size: 1.5rem;
        }

        &--form {
            &--input {
                font-size: 1.2rem;
                height: 2rem;
                margin-bottom: 0.4rem;
                box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
            }

            &--submit {
                font-size: 1.2rem;
                box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .footer {
        height: 100px;

        &--socials {
            flex-basis: 40%;
            font-size: 2rem;
        }

        &--copyright {
            font-size: 0.8rem;
            margin-right: 1rem;
        }
    }
}

@include desktop-lg {
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &--bullet {
            margin: 0 20px;
        }
    }

    .about {
        &--greeting {
            width: 575px;
            transform: translateX(-210px);
        }

        p {
            width: 1000px;
        }
    }

    .cards {
        width: 1200px;
    }

    .contact--form {
        width: 750px;
    }
}
