@import "config", "color-themes", "colors", "fonts";

.header {
    background-color: $primary-bg--dark;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
    font-family: $secondary-font--dark;

    &--theme {
        display: none;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // color: $secondary-text--dark;

        // &--icon {
        //     font-size: 1.5rem;
        // }

        // &--text {
        //     font-size: 0.75rem;
        // }
    }

    &--socials {
        color: $white;
        font-size: 2rem;

        a {
            margin-left: 1.5rem;
        }
    }
}

.me {
    background-color: $primary-bg--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30% 0 8% 0;

    &--name {
        color: $white;
        font-family: $primary-font--dark;
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    &--rule {
        height: 0.25rem;
        width: 60%;
        border-radius: 1px;
        background-color: $accent--dark;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
    }

    &--job-title {
        color: $secondary-text--dark;
        font-family: $secondary-font--dark;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &--arrow {
        color: $secondary-text--dark;
        font-size: 2.5rem;
        margin-top: 6rem;
    }
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $tertiary-bg--dark;
    padding: 0.5rem 0;
    font-family: $secondary-font--dark;
    font-weight: 700;
    color: $black;

    &--bullet {
        font-size: 0.4rem;
        margin-top: 0.2rem;
    }

    &--link {
        font-size: 1rem;
    }
}

.about {
    background-color: $secondary-bg--dark;
    color: $white;
    font-family: $secondary-font--dark;
    padding: 20% 0 20% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--greeting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 50px;

        &--hello {
            font-family: $primary-font--dark;
            font-size: 1.5rem;
            letter-spacing: 5px;
        }

        &--name {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 3px;
        }
    }

    p {
        text-align: center;
        margin: 1rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
}

.card-half {
    background-image: linear-gradient(
        $secondary-bg--dark 0%,
        $secondary-bg--dark 50%,
        $primary-bg--dark 50%,
        $primary-bg--dark 50%
    );
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    background-color: $tertiary-bg--dark;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
    border-radius: 6px;
    color: $white;

    &--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;

        &--headline {
            font-family: $primary-font--dark;
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        &--desc {
            font-family: $secondary-font--dark;
            font-size: 1.2rem;
            font-weight: 400;
            word-spacing: 3px;
            text-align: center;
        }

        span {
            font-size: 5rem;
        }
    }
}

.skills {
    background-color: $primary-bg--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0;

    &--headline {
        font-family: $primary-font--dark;
        font-size: 2rem;
        color: $white;
        letter-spacing: 3px;
        text-align: center;
    }

    &--subheadline {
        color: $secondary-text--dark;
        text-align: center;
        font-family: $secondary-font--dark;
        font-size: 1.75rem;
        font-weight: 400;
        letter-spacing: 3px;
        margin: 1rem 0 1.5rem 0;
    }

    &--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: $white;
        width: 80%;
        justify-content: center;

        &--skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 45%;
            margin-bottom: 1rem;

            &--logo {
                font-size: 4rem;
            }

            &--name {
                font-family: $secondary-font--dark;
            }
        }
    }
}

.projects {
    background-color: $secondary-bg--dark;
    color: $white;
    padding: 20% 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--headline {
        font-family: $primary-font--dark;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        letter-spacing: 2px;
    }

    &--project {
        background: $primary-bg--dark;
        border-radius: 6px;
        padding: 1rem;

        &--image {
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }

        &--text {
            text-align: center;
            font-family: $secondary-font--dark;

            &--name {
                font-family: $primary-font--dark;
                font-size: 1.5rem;
                letter-spacing: 3px;
            }

            &--desc {
                line-height: 1.5;
            }

            a {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
    }
}

.feedback {
    background-color: $primary-bg--dark;
    display: flex;
    flex-direction: column;
    padding: 20% 10%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--headline {
        text-align: center;
        font-size: 2rem;
        font-family: $primary-font--dark;
        color: $white;
        letter-spacing: 3px;
    }

    &--rule {
        height: 0.25rem;
        width: 50%;
        border-radius: 2;
        background-color: $accent--dark;
        margin: 0.5rem 0;
    }

    &--subheadline {
        font-family: $secondary-font--dark;
        color: $secondary-text--dark;
        font-size: 1.1rem;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 1rem;
    }

    &--form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &--input {
            width: 100%;
            background-color: $black;
            color: $white;
            font-family: $secondary-font--dark;
            border: 1px solid $white;
            border-radius: 3px;
            font-size: 1.2rem;
            height: 2rem;
            margin-bottom: 2px;
            padding: 0 0.5rem;
        }

        &--submit {
            border: 3px solid $black;
            border-radius: 3px;
            background-color: $secondary-text--dark;
            font-family: $secondary-font--dark;
            padding: 2.5px 5px;
            margin-top: 0.25rem;
        }
    }
}

#message {
    height: 8rem;
    resize: none;
}

.footer {
    background-color: $black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;

    &--socials {
        display: flex;
        justify-content: space-evenly;
        font-size: 2rem;
    }

    &--copyright {
        font-family: $secondary-font--dark;
        font-size: 0.7rem;
        text-align: center;
    }
}

@import "responsive";
