<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-html5"></i
    ></span>
    <p class="skills--current--skill--name">HTML</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-css3-alt"></i
    ></span>
    <p class="skills--current--skill--name">CSS</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-js-square"></i
    ></span>
    <p class="skills--current--skill--name">JavaScript</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-python"></i
    ></span>
    <p class="skills--current--skill--name">Python</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fas fa-database"></i
    ></span>
    <p class="skills--current--skill--name">PostgreSQL</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fas fa-wrench"></i
    ></span>
    <p class="skills--current--skill--name">jQuery</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-sass"></i
    ></span>
    <p class="skills--current--skill--name">SASS</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-bootstrap"></i
    ></span>
    <p class="skills--current--skill--name">Bootstrap</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fas fa-pepper-hot"></i
    ></span>
    <p class="skills--current--skill--name">Flask</p>
</div>
<div class="skills--current--skill">
    <span class="skills--current--skill--logo"
        ><i class="fab fa-git-alt"></i
    ></span>
    <p class="skills--current--skill--name">Git</p>
</div>
