<div class="skills--learning--skill">
    <span class="skills--learning--skill--logo"
        ><i class="fab fa-node"></i
    ></span>
    <p class="skills--learning--skill--name">Node.js</p>
</div>
<div class="skills--learning--skill">
    <span class="skills--learning--skill--logo"
        ><i class="fas fa-shipping-fast"></i
    ></span>
    <p class="skills--learning--skill--name">Express</p>
</div>
<div class="skills--learning--skill">
    <span class="skills--learning--skill--logo"
        ><i class="fab fa-react"></i
    ></span>
    <p class="skills--learning--skill--name">React</p>
</div>
<div class="skills--learning--skill">
    <span class="skills--learning--skill--logo"
        ><i class="fas fa-atom"></i
    ></span>
    <p class="skills--learning--skill--name">Redux</p>
</div>
