<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" href="../static/styles/css/errors.css" />
        <title>{{error}}</title>
    </head>
    <body>
        <main>
            <h1 class="error--name">{{error}}</h1>
            <p class="error--return">
                Let's get you
                <a href="/" class="error--return--link">back to safety.</a>
            </p>
        </main>
    </body>
</html>
